.container {
  min-height: 100vh;
  max-width: 1360px;
  box-sizing: border-box;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 7em;
  margin-bottom: 0;
}

.subtitle {
  color: #666;
  font-weight: normal;
  margin-bottom: 5px;
}

.subtitle--main {
  font-size: 1.3em;
}

.subtitle--secondary {
  font-size: 1em;
}

.table-wrapper--main-data {
  width: 95%;
  max-width: 800px;
  height: 630px;
  margin-bottom: 30px;
}

.table-wrapper--dist-freq {
  width: 60%;
  height: 370px;
  margin: 30px 0;
}

.table-wrapper--relative-dist-freq {
  width: 500px;
  height: 370px;
}

.text-center {
  text-align: center;
}
